body {
  background: radial-gradient(circle, #24246e, #06051f);
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
}

body:active div,
body:active div::before,
body:active div::after {
  padding: 40px;
}

div,
div::before,
div::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.9;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 5s linear 0s;
  transition: all 5s linear 0s;
}

.purple {
  -webkit-animation: purple linear 30s alternate infinite;
          animation: purple linear 30s alternate infinite;
  border: 2px solid #241379;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  -webkit-transform: translate3d(15vw, 9vh, 0);
          transform: translate3d(15vw, 9vh, 0);
  z-index: 6;
}

.purple::before {
  -webkit-animation: purple-pseudo linear 15s alternate infinite;
          animation: purple-pseudo linear 15s alternate infinite;
  background: #241379;
  border: 2px solid #241379;
  width: 6px;
  height: 44px;
  -webkit-transform: translate3d(-9vw, 45vh, 0) rotate(27deg);
          transform: translate3d(-9vw, 45vh, 0) rotate(27deg);
}

.purple::after {
  -webkit-animation: purple-pseudo linear 20s alternate infinite;
          animation: purple-pseudo linear 20s alternate infinite;
  border: 2px solid #241379;
  width: 27px;
  height: 12px;
  -webkit-transform: translate3d(28vw, 60vh, 0) rotate(328deg);
          transform: translate3d(28vw, 60vh, 0) rotate(328deg);
}

@-webkit-keyframes purple {
  50% {
    -webkit-transform: translate3d(50vw, 36vh, 0);
            transform: translate3d(50vw, 36vh, 0);
  }
  100% {
    -webkit-transform: translate3d(28vw, 61vh, 0);
            transform: translate3d(28vw, 61vh, 0);
  }
}

@keyframes purple {
  50% {
    -webkit-transform: translate3d(50vw, 36vh, 0);
            transform: translate3d(50vw, 36vh, 0);
  }
  100% {
    -webkit-transform: translate3d(28vw, 61vh, 0);
            transform: translate3d(28vw, 61vh, 0);
  }
}

@-webkit-keyframes purple-pseudo {
  33% {
    -webkit-transform: translate3d(-6vw, 19vh, 0) rotate(55deg);
            transform: translate3d(-6vw, 19vh, 0) rotate(55deg);
  }
  100% {
    -webkit-transform: translate3d(65vw, -9vh, 0) rotate(327deg);
            transform: translate3d(65vw, -9vh, 0) rotate(327deg);
  }
}

@keyframes purple-pseudo {
  33% {
    -webkit-transform: translate3d(-6vw, 19vh, 0) rotate(55deg);
            transform: translate3d(-6vw, 19vh, 0) rotate(55deg);
  }
  100% {
    -webkit-transform: translate3d(65vw, -9vh, 0) rotate(327deg);
            transform: translate3d(65vw, -9vh, 0) rotate(327deg);
  }
}

.medium-blue {
  -webkit-animation: medium-blue linear 30s alternate infinite;
          animation: medium-blue linear 30s alternate infinite;
  border: 2px solid #2185bf;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  -webkit-transform: translate3d(70vw, 19vh, 0);
          transform: translate3d(70vw, 19vh, 0);
  z-index: 3;
}

.medium-blue::before {
  -webkit-animation: medium-blue-pseudo linear 15s alternate infinite;
          animation: medium-blue-pseudo linear 15s alternate infinite;
  background: #2185bf;
  border: 2px solid #2185bf;
  width: 39px;
  height: 12px;
  -webkit-transform: translate3d(15vw, -12vh, 0) rotate(196deg);
          transform: translate3d(15vw, -12vh, 0) rotate(196deg);
}

.medium-blue::after {
  -webkit-animation: medium-blue-pseudo linear 20s alternate infinite;
          animation: medium-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #2185bf;
  width: 31px;
  height: 27px;
  -webkit-transform: translate3d(-3vw, 15vh, 0) rotate(228deg);
          transform: translate3d(-3vw, 15vh, 0) rotate(228deg);
}

@-webkit-keyframes medium-blue {
  50% {
    -webkit-transform: translate3d(36vw, 48vh, 0);
            transform: translate3d(36vw, 48vh, 0);
  }
  100% {
    -webkit-transform: translate3d(36vw, 27vh, 0);
            transform: translate3d(36vw, 27vh, 0);
  }
}

@keyframes medium-blue {
  50% {
    -webkit-transform: translate3d(36vw, 48vh, 0);
            transform: translate3d(36vw, 48vh, 0);
  }
  100% {
    -webkit-transform: translate3d(36vw, 27vh, 0);
            transform: translate3d(36vw, 27vh, 0);
  }
}

@-webkit-keyframes medium-blue-pseudo {
  33% {
    -webkit-transform: translate3d(24vw, 13vh, 0) rotate(182deg);
            transform: translate3d(24vw, 13vh, 0) rotate(182deg);
  }
  100% {
    -webkit-transform: translate3d(-19vw, 0vh, 0) rotate(304deg);
            transform: translate3d(-19vw, 0vh, 0) rotate(304deg);
  }
}

@keyframes medium-blue-pseudo {
  33% {
    -webkit-transform: translate3d(24vw, 13vh, 0) rotate(182deg);
            transform: translate3d(24vw, 13vh, 0) rotate(182deg);
  }
  100% {
    -webkit-transform: translate3d(-19vw, 0vh, 0) rotate(304deg);
            transform: translate3d(-19vw, 0vh, 0) rotate(304deg);
  }
}

.light-blue {
  -webkit-animation: light-blue linear 30s alternate infinite;
          animation: light-blue linear 30s alternate infinite;
  border: 2px solid #1fbce1;
  border-radius: 100%;
  width: 8px;
  height: 8px;
  -webkit-transform: translate3d(80vw, 83vh, 0);
          transform: translate3d(80vw, 83vh, 0);
  z-index: 2;
}

.light-blue::before {
  -webkit-animation: light-blue-pseudo linear 15s alternate infinite;
          animation: light-blue-pseudo linear 15s alternate infinite;
  background: #1fbce1;
  border: 2px solid #1fbce1;
  width: 45px;
  height: 5px;
  -webkit-transform: translate3d(-20vw, 8vh, 0) rotate(19deg);
          transform: translate3d(-20vw, 8vh, 0) rotate(19deg);
}

.light-blue::after {
  -webkit-animation: light-blue-pseudo linear 20s alternate infinite;
          animation: light-blue-pseudo linear 20s alternate infinite;
  border: 2px solid #1fbce1;
  width: 20px;
  height: 24px;
  -webkit-transform: translate3d(7vw, 7vh, 0) rotate(89deg);
          transform: translate3d(7vw, 7vh, 0) rotate(89deg);
}

@-webkit-keyframes light-blue {
  50% {
    -webkit-transform: translate3d(38vw, 41vh, 0);
            transform: translate3d(38vw, 41vh, 0);
  }
  100% {
    -webkit-transform: translate3d(79vw, 37vh, 0);
            transform: translate3d(79vw, 37vh, 0);
  }
}

@keyframes light-blue {
  50% {
    -webkit-transform: translate3d(38vw, 41vh, 0);
            transform: translate3d(38vw, 41vh, 0);
  }
  100% {
    -webkit-transform: translate3d(79vw, 37vh, 0);
            transform: translate3d(79vw, 37vh, 0);
  }
}

@-webkit-keyframes light-blue-pseudo {
  33% {
    -webkit-transform: translate3d(37vw, 36vh, 0) rotate(93deg);
            transform: translate3d(37vw, 36vh, 0) rotate(93deg);
  }
  100% {
    -webkit-transform: translate3d(-10vw, 62vh, 0) rotate(307deg);
            transform: translate3d(-10vw, 62vh, 0) rotate(307deg);
  }
}

@keyframes light-blue-pseudo {
  33% {
    -webkit-transform: translate3d(37vw, 36vh, 0) rotate(93deg);
            transform: translate3d(37vw, 36vh, 0) rotate(93deg);
  }
  100% {
    -webkit-transform: translate3d(-10vw, 62vh, 0) rotate(307deg);
            transform: translate3d(-10vw, 62vh, 0) rotate(307deg);
  }
}

.red {
  -webkit-animation: red linear 30s alternate infinite;
          animation: red linear 30s alternate infinite;
  border: 2px solid #b62f 56;
  border-radius: 100%;
  width: 11px;
  height: 11px;
  -webkit-transform: translate3d(20vw, 86vh, 0);
          transform: translate3d(20vw, 86vh, 0);
  z-index: 9;
}

.red::before {
  -webkit-animation: red-pseudo linear 15s alternate infinite;
          animation: red-pseudo linear 15s alternate infinite;
  background: #b62f 56;
  border: 2px solid #b62f 56;
  width: 39px;
  height: 32px;
  -webkit-transform: translate3d(66vw, 3vh, 0) rotate(169deg);
          transform: translate3d(66vw, 3vh, 0) rotate(169deg);
}

.red::after {
  -webkit-animation: red-pseudo linear 20s alternate infinite;
          animation: red-pseudo linear 20s alternate infinite;
  border: 2px solid #b62f 56;
  width: 38px;
  height: 8px;
  -webkit-transform: translate3d(68vw, 11vh, 0) rotate(278deg);
          transform: translate3d(68vw, 11vh, 0) rotate(278deg);
}

@-webkit-keyframes red {
  50% {
    -webkit-transform: translate3d(83vw, 41vh, 0);
            transform: translate3d(83vw, 41vh, 0);
  }
  100% {
    -webkit-transform: translate3d(32vw, 14vh, 0);
            transform: translate3d(32vw, 14vh, 0);
  }
}

@keyframes red {
  50% {
    -webkit-transform: translate3d(83vw, 41vh, 0);
            transform: translate3d(83vw, 41vh, 0);
  }
  100% {
    -webkit-transform: translate3d(32vw, 14vh, 0);
            transform: translate3d(32vw, 14vh, 0);
  }
}

@-webkit-keyframes red-pseudo {
  33% {
    -webkit-transform: translate3d(-20vw, -26vh, 0) rotate(13deg);
            transform: translate3d(-20vw, -26vh, 0) rotate(13deg);
  }
  100% {
    -webkit-transform: translate3d(14vw, 68vh, 0) rotate(69deg);
            transform: translate3d(14vw, 68vh, 0) rotate(69deg);
  }
}

@keyframes red-pseudo {
  33% {
    -webkit-transform: translate3d(-20vw, -26vh, 0) rotate(13deg);
            transform: translate3d(-20vw, -26vh, 0) rotate(13deg);
  }
  100% {
    -webkit-transform: translate3d(14vw, 68vh, 0) rotate(69deg);
            transform: translate3d(14vw, 68vh, 0) rotate(69deg);
  }
}

.orange {
  -webkit-animation: orange linear 30s alternate infinite;
          animation: orange linear 30s alternate infinite;
  border: 2px solid #d5764c;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  -webkit-transform: translate3d(56vw, 36vh, 0);
          transform: translate3d(56vw, 36vh, 0);
  z-index: 1;
}

.orange::before {
  -webkit-animation: orange-pseudo linear 15s alternate infinite;
          animation: orange-pseudo linear 15s alternate infinite;
  background: #d5764c;
  border: 2px solid #d5764c;
  width: 27px;
  height: 20px;
  -webkit-transform: translate3d(-46vw, 22vh, 0) rotate(186deg);
          transform: translate3d(-46vw, 22vh, 0) rotate(186deg);
}

.orange::after {
  -webkit-animation: orange-pseudo linear 20s alternate infinite;
          animation: orange-pseudo linear 20s alternate infinite;
  border: 2px solid #d5764c;
  width: 22px;
  height: 11px;
  -webkit-transform: translate3d(4vw, 28vh, 0) rotate(132deg);
          transform: translate3d(4vw, 28vh, 0) rotate(132deg);
}

@-webkit-keyframes orange {
  50% {
    -webkit-transform: translate3d(5vw, 19vh, 0);
            transform: translate3d(5vw, 19vh, 0);
  }
  100% {
    -webkit-transform: translate3d(13vw, 36vh, 0);
            transform: translate3d(13vw, 36vh, 0);
  }
}

@keyframes orange {
  50% {
    -webkit-transform: translate3d(5vw, 19vh, 0);
            transform: translate3d(5vw, 19vh, 0);
  }
  100% {
    -webkit-transform: translate3d(13vw, 36vh, 0);
            transform: translate3d(13vw, 36vh, 0);
  }
}

@-webkit-keyframes orange-pseudo {
  33% {
    -webkit-transform: translate3d(36vw, 27vh, 0) rotate(95deg);
            transform: translate3d(36vw, 27vh, 0) rotate(95deg);
  }
  100% {
    -webkit-transform: translate3d(42vw, -22vh, 0) rotate(245deg);
            transform: translate3d(42vw, -22vh, 0) rotate(245deg);
  }
}

@keyframes orange-pseudo {
  33% {
    -webkit-transform: translate3d(36vw, 27vh, 0) rotate(95deg);
            transform: translate3d(36vw, 27vh, 0) rotate(95deg);
  }
  100% {
    -webkit-transform: translate3d(42vw, -22vh, 0) rotate(245deg);
            transform: translate3d(42vw, -22vh, 0) rotate(245deg);
  }
}

.yellow {
  -webkit-animation: yellow linear 30s alternate infinite;
          animation: yellow linear 30s alternate infinite;
  border: 2px solid #ffd53e;
  border-radius: 100%;
  width: 33px;
  height: 33px;
  -webkit-transform: translate3d(74vw, 27vh, 0);
          transform: translate3d(74vw, 27vh, 0);
  z-index: 5;
}

.yellow::before {
  -webkit-animation: yellow-pseudo linear 15s alternate infinite;
          animation: yellow-pseudo linear 15s alternate infinite;
  background: #ffd53e;
  border: 2px solid #ffd53e;
  width: 21px;
  height: 21px;
  -webkit-transform: translate3d(-35vw, 47vh, 0) rotate(331deg);
          transform: translate3d(-35vw, 47vh, 0) rotate(331deg);
}

.yellow::after {
  -webkit-animation: yellow-pseudo linear 20s alternate infinite;
          animation: yellow-pseudo linear 20s alternate infinite;
  border: 2px solid #ffd53e;
  width: 24px;
  height: 37px;
  -webkit-transform: translate3d(10vw, 21vh, 0) rotate(49deg);
          transform: translate3d(10vw, 21vh, 0) rotate(49deg);
}

@-webkit-keyframes yellow {
  50% {
    -webkit-transform: translate3d(10vw, 34vh, 0);
            transform: translate3d(10vw, 34vh, 0);
  }
  100% {
    -webkit-transform: translate3d(54vw, 9vh, 0);
            transform: translate3d(54vw, 9vh, 0);
  }
}

@keyframes yellow {
  50% {
    -webkit-transform: translate3d(10vw, 34vh, 0);
            transform: translate3d(10vw, 34vh, 0);
  }
  100% {
    -webkit-transform: translate3d(54vw, 9vh, 0);
            transform: translate3d(54vw, 9vh, 0);
  }
}

@-webkit-keyframes yellow-pseudo {
  33% {
    -webkit-transform: translate3d(83vw, 8vh, 0) rotate(277deg);
            transform: translate3d(83vw, 8vh, 0) rotate(277deg);
  }
  100% {
    -webkit-transform: translate3d(12vw, 73vh, 0) rotate(60deg);
            transform: translate3d(12vw, 73vh, 0) rotate(60deg);
  }
}

@keyframes yellow-pseudo {
  33% {
    -webkit-transform: translate3d(83vw, 8vh, 0) rotate(277deg);
            transform: translate3d(83vw, 8vh, 0) rotate(277deg);
  }
  100% {
    -webkit-transform: translate3d(12vw, 73vh, 0) rotate(60deg);
            transform: translate3d(12vw, 73vh, 0) rotate(60deg);
  }
}

.cyan {
  -webkit-animation: cyan linear 30s alternate infinite;
          animation: cyan linear 30s alternate infinite;
  border: 2px solid #78ffba;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  -webkit-transform: translate3d(36vw, 38vh, 0);
          transform: translate3d(36vw, 38vh, 0);
  z-index: 3;
}

.cyan::before {
  -webkit-animation: cyan-pseudo linear 15s alternate infinite;
          animation: cyan-pseudo linear 15s alternate infinite;
  background: #78ffba;
  border: 2px solid #78ffba;
  width: 32px;
  height: 18px;
  -webkit-transform: translate3d(55vw, 24vh, 0) rotate(187deg);
          transform: translate3d(55vw, 24vh, 0) rotate(187deg);
}

.cyan::after {
  -webkit-animation: cyan-pseudo linear 20s alternate infinite;
          animation: cyan-pseudo linear 20s alternate infinite;
  border: 2px solid #78ffba;
  width: 5px;
  height: 22px;
  -webkit-transform: translate3d(2vw, -7vh, 0) rotate(309deg);
          transform: translate3d(2vw, -7vh, 0) rotate(309deg);
}

@-webkit-keyframes cyan {
  50% {
    -webkit-transform: translate3d(98vw, 57vh, 0);
            transform: translate3d(98vw, 57vh, 0);
  }
  100% {
    -webkit-transform: translate3d(44vw, 84vh, 0);
            transform: translate3d(44vw, 84vh, 0);
  }
}

@keyframes cyan {
  50% {
    -webkit-transform: translate3d(98vw, 57vh, 0);
            transform: translate3d(98vw, 57vh, 0);
  }
  100% {
    -webkit-transform: translate3d(44vw, 84vh, 0);
            transform: translate3d(44vw, 84vh, 0);
  }
}

@-webkit-keyframes cyan-pseudo {
  33% {
    -webkit-transform: translate3d(-3vw, 9vh, 0) rotate(37deg);
            transform: translate3d(-3vw, 9vh, 0) rotate(37deg);
  }
  100% {
    -webkit-transform: translate3d(4vw, -61vh, 0) rotate(77deg);
            transform: translate3d(4vw, -61vh, 0) rotate(77deg);
  }
}

@keyframes cyan-pseudo {
  33% {
    -webkit-transform: translate3d(-3vw, 9vh, 0) rotate(37deg);
            transform: translate3d(-3vw, 9vh, 0) rotate(37deg);
  }
  100% {
    -webkit-transform: translate3d(4vw, -61vh, 0) rotate(77deg);
            transform: translate3d(4vw, -61vh, 0) rotate(77deg);
  }
}

.light-green {
  -webkit-animation: light-green linear 30s alternate infinite;
          animation: light-green linear 30s alternate infinite;
  border: 2px solid #98fd85;
  border-radius: 100%;
  width: 23px;
  height: 23px;
  -webkit-transform: translate3d(7vw, 80vh, 0);
          transform: translate3d(7vw, 80vh, 0);
  z-index: 12;
}

.light-green::before {
  -webkit-animation: light-green-pseudo linear 15s alternate infinite;
          animation: light-green-pseudo linear 15s alternate infinite;
  background: #98fd85;
  border: 2px solid #98fd85;
  width: 49px;
  height: 19px;
  -webkit-transform: translate3d(26vw, 18vh, 0) rotate(319deg);
          transform: translate3d(26vw, 18vh, 0) rotate(319deg);
}

.light-green::after {
  -webkit-animation: light-green-pseudo linear 20s alternate infinite;
          animation: light-green-pseudo linear 20s alternate infinite;
  border: 2px solid #98fd85;
  width: 47px;
  height: 16px;
  -webkit-transform: translate3d(-1vw, -38vh, 0) rotate(265deg);
          transform: translate3d(-1vw, -38vh, 0) rotate(265deg);
}

@-webkit-keyframes light-green {
  50% {
    -webkit-transform: translate3d(98vw, 39vh, 0);
            transform: translate3d(98vw, 39vh, 0);
  }
  100% {
    -webkit-transform: translate3d(20vw, 99vh, 0);
            transform: translate3d(20vw, 99vh, 0);
  }
}

@keyframes light-green {
  50% {
    -webkit-transform: translate3d(98vw, 39vh, 0);
            transform: translate3d(98vw, 39vh, 0);
  }
  100% {
    -webkit-transform: translate3d(20vw, 99vh, 0);
            transform: translate3d(20vw, 99vh, 0);
  }
}

@-webkit-keyframes light-green-pseudo {
  33% {
    -webkit-transform: translate3d(-23vw, 10vh, 0) rotate(303deg);
            transform: translate3d(-23vw, 10vh, 0) rotate(303deg);
  }
  100% {
    -webkit-transform: translate3d(44vw, -28vh, 0) rotate(228deg);
            transform: translate3d(44vw, -28vh, 0) rotate(228deg);
  }
}

@keyframes light-green-pseudo {
  33% {
    -webkit-transform: translate3d(-23vw, 10vh, 0) rotate(303deg);
            transform: translate3d(-23vw, 10vh, 0) rotate(303deg);
  }
  100% {
    -webkit-transform: translate3d(44vw, -28vh, 0) rotate(228deg);
            transform: translate3d(44vw, -28vh, 0) rotate(228deg);
  }
}

.lime {
  -webkit-animation: lime linear 30s alternate infinite;
          animation: lime linear 30s alternate infinite;
  border: 2px solid #befb46;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  -webkit-transform: translate3d(67vw, 86vh, 0);
          transform: translate3d(67vw, 86vh, 0);
  z-index: 11;
}

.lime::before {
  -webkit-animation: lime-pseudo linear 15s alternate infinite;
          animation: lime-pseudo linear 15s alternate infinite;
  background: #befb46;
  border: 2px solid #befb46;
  width: 27px;
  height: 24px;
  -webkit-transform: translate3d(18vw, -29vh, 0) rotate(284deg);
          transform: translate3d(18vw, -29vh, 0) rotate(284deg);
}

.lime::after {
  -webkit-animation: lime-pseudo linear 20s alternate infinite;
          animation: lime-pseudo linear 20s alternate infinite;
  border: 2px solid #befb46;
  width: 21px;
  height: 6px;
  -webkit-transform: translate3d(8vw, -30vh, 0) rotate(205deg);
          transform: translate3d(8vw, -30vh, 0) rotate(205deg);
}

@-webkit-keyframes lime {
  50% {
    -webkit-transform: translate3d(18vw, 86vh, 0);
            transform: translate3d(18vw, 86vh, 0);
  }
  100% {
    -webkit-transform: translate3d(91vw, 80vh, 0);
            transform: translate3d(91vw, 80vh, 0);
  }
}

@keyframes lime {
  50% {
    -webkit-transform: translate3d(18vw, 86vh, 0);
            transform: translate3d(18vw, 86vh, 0);
  }
  100% {
    -webkit-transform: translate3d(91vw, 80vh, 0);
            transform: translate3d(91vw, 80vh, 0);
  }
}

@-webkit-keyframes lime-pseudo {
  33% {
    -webkit-transform: translate3d(7vw, -55vh, 0) rotate(96deg);
            transform: translate3d(7vw, -55vh, 0) rotate(96deg);
  }
  100% {
    -webkit-transform: translate3d(-74vw, -61vh, 0) rotate(178deg);
            transform: translate3d(-74vw, -61vh, 0) rotate(178deg);
  }
}

@keyframes lime-pseudo {
  33% {
    -webkit-transform: translate3d(7vw, -55vh, 0) rotate(96deg);
            transform: translate3d(7vw, -55vh, 0) rotate(96deg);
  }
  100% {
    -webkit-transform: translate3d(-74vw, -61vh, 0) rotate(178deg);
            transform: translate3d(-74vw, -61vh, 0) rotate(178deg);
  }
}

.magenta {
  -webkit-animation: magenta linear 30s alternate infinite;
          animation: magenta linear 30s alternate infinite;
  border: 2px solid #6c046c;
  border-radius: 100%;
  width: 14px;
  height: 14px;
  -webkit-transform: translate3d(6vw, 7vh, 0);
          transform: translate3d(6vw, 7vh, 0);
  z-index: 10;
}

.magenta::before {
  -webkit-animation: magenta-pseudo linear 15s alternate infinite;
          animation: magenta-pseudo linear 15s alternate infinite;
  background: #6c046c;
  border: 2px solid #6c046c;
  width: 14px;
  height: 25px;
  -webkit-transform: translate3d(7vw, 81vh, 0) rotate(255deg);
          transform: translate3d(7vw, 81vh, 0) rotate(255deg);
}

.magenta::after {
  -webkit-animation: magenta-pseudo linear 20s alternate infinite;
          animation: magenta-pseudo linear 20s alternate infinite;
  border: 2px solid #6c046c;
  width: 42px;
  height: 44px;
  -webkit-transform: translate3d(78vw, 79vh, 0) rotate(298deg);
          transform: translate3d(78vw, 79vh, 0) rotate(298deg);
}

@-webkit-keyframes magenta {
  50% {
    -webkit-transform: translate3d(50vw, 33vh, 0);
            transform: translate3d(50vw, 33vh, 0);
  }
  100% {
    -webkit-transform: translate3d(23vw, 1vh, 0);
            transform: translate3d(23vw, 1vh, 0);
  }
}

@keyframes magenta {
  50% {
    -webkit-transform: translate3d(50vw, 33vh, 0);
            transform: translate3d(50vw, 33vh, 0);
  }
  100% {
    -webkit-transform: translate3d(23vw, 1vh, 0);
            transform: translate3d(23vw, 1vh, 0);
  }
}

@-webkit-keyframes magenta-pseudo {
  33% {
    -webkit-transform: translate3d(-11vw, -20vh, 0) rotate(218deg);
            transform: translate3d(-11vw, -20vh, 0) rotate(218deg);
  }
  100% {
    -webkit-transform: translate3d(65vw, 54vh, 0) rotate(92deg);
            transform: translate3d(65vw, 54vh, 0) rotate(92deg);
  }
}

@keyframes magenta-pseudo {
  33% {
    -webkit-transform: translate3d(-11vw, -20vh, 0) rotate(218deg);
            transform: translate3d(-11vw, -20vh, 0) rotate(218deg);
  }
  100% {
    -webkit-transform: translate3d(65vw, 54vh, 0) rotate(92deg);
            transform: translate3d(65vw, 54vh, 0) rotate(92deg);
  }
}

.lightish-red {
  -webkit-animation: lightish-red linear 30s alternate infinite;
          animation: lightish-red linear 30s alternate infinite;
  border: 2px solid #f04c81;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  -webkit-transform: translate3d(31vw, 100vh, 0);
          transform: translate3d(31vw, 100vh, 0);
  z-index: 7;
}

.lightish-red::before {
  -webkit-animation: lightish-red-pseudo linear 15s alternate infinite;
          animation: lightish-red-pseudo linear 15s alternate infinite;
  background: #f04c81;
  border: 2px solid #f04c81;
  width: 41px;
  height: 49px;
  -webkit-transform: translate3d(-30vw, -65vh, 0) rotate(266deg);
          transform: translate3d(-30vw, -65vh, 0) rotate(266deg);
}

.lightish-red::after {
  -webkit-animation: lightish-red-pseudo linear 20s alternate infinite;
          animation: lightish-red-pseudo linear 20s alternate infinite;
  border: 2px solid #f04c81;
  width: 28px;
  height: 40px;
  -webkit-transform: translate3d(21vw, -27vh, 0) rotate(232deg);
          transform: translate3d(21vw, -27vh, 0) rotate(232deg);
}

@-webkit-keyframes lightish-red {
  50% {
    -webkit-transform: translate3d(43vw, 18vh, 0);
            transform: translate3d(43vw, 18vh, 0);
  }
  100% {
    -webkit-transform: translate3d(12vw, 12vh, 0);
            transform: translate3d(12vw, 12vh, 0);
  }
}

@keyframes lightish-red {
  50% {
    -webkit-transform: translate3d(43vw, 18vh, 0);
            transform: translate3d(43vw, 18vh, 0);
  }
  100% {
    -webkit-transform: translate3d(12vw, 12vh, 0);
            transform: translate3d(12vw, 12vh, 0);
  }
}

@-webkit-keyframes lightish-red-pseudo {
  33% {
    -webkit-transform: translate3d(-24vw, 13vh, 0) rotate(191deg);
            transform: translate3d(-24vw, 13vh, 0) rotate(191deg);
  }
  100% {
    -webkit-transform: translate3d(2vw, 5vh, 0) rotate(202deg);
            transform: translate3d(2vw, 5vh, 0) rotate(202deg);
  }
}

@keyframes lightish-red-pseudo {
  33% {
    -webkit-transform: translate3d(-24vw, 13vh, 0) rotate(191deg);
            transform: translate3d(-24vw, 13vh, 0) rotate(191deg);
  }
  100% {
    -webkit-transform: translate3d(2vw, 5vh, 0) rotate(202deg);
            transform: translate3d(2vw, 5vh, 0) rotate(202deg);
  }
}

.pink {
  -webkit-animation: pink linear 30s alternate infinite;
          animation: pink linear 30s alternate infinite;
  border: 2px solid #ff4293;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  -webkit-transform: translate3d(31vw, 9vh, 0);
          transform: translate3d(31vw, 9vh, 0);
  z-index: 4;
}

.pink::before {
  -webkit-animation: pink-pseudo linear 15s alternate infinite;
          animation: pink-pseudo linear 15s alternate infinite;
  background: #ff4293;
  border: 2px solid #ff4293;
  width: 13px;
  height: 41px;
  -webkit-transform: translate3d(5vw, 8vh, 0) rotate(347deg);
          transform: translate3d(5vw, 8vh, 0) rotate(347deg);
}

.pink::after {
  -webkit-animation: pink-pseudo linear 20s alternate infinite;
          animation: pink-pseudo linear 20s alternate infinite;
  border: 2px solid #ff4293;
  width: 32px;
  height: 26px;
  -webkit-transform: translate3d(62vw, -3vh, 0) rotate(9deg);
          transform: translate3d(62vw, -3vh, 0) rotate(9deg);
}

@-webkit-keyframes pink {
  50% {
    -webkit-transform: translate3d(100vw, 89vh, 0);
            transform: translate3d(100vw, 89vh, 0);
  }
  100% {
    -webkit-transform: translate3d(24vw, 75vh, 0);
            transform: translate3d(24vw, 75vh, 0);
  }
}

@keyframes pink {
  50% {
    -webkit-transform: translate3d(100vw, 89vh, 0);
            transform: translate3d(100vw, 89vh, 0);
  }
  100% {
    -webkit-transform: translate3d(24vw, 75vh, 0);
            transform: translate3d(24vw, 75vh, 0);
  }
}

@-webkit-keyframes pink-pseudo {
  33% {
    -webkit-transform: translate3d(-29vw, -46vh, 0) rotate(140deg);
            transform: translate3d(-29vw, -46vh, 0) rotate(140deg);
  }
  100% {
    -webkit-transform: translate3d(-23vw, 18vh, 0) rotate(274deg);
            transform: translate3d(-23vw, 18vh, 0) rotate(274deg);
  }
}

@keyframes pink-pseudo {
  33% {
    -webkit-transform: translate3d(-29vw, -46vh, 0) rotate(140deg);
            transform: translate3d(-29vw, -46vh, 0) rotate(140deg);
  }
  100% {
    -webkit-transform: translate3d(-23vw, 18vh, 0) rotate(274deg);
            transform: translate3d(-23vw, 18vh, 0) rotate(274deg);
  }
}
/*# sourceMappingURL=sample.css.map */